@charset "UTF-8";
/* CSS Document */

@font-face{
    font-family: "Goudy Heavyface Std";
    src: url('../fonts/Goudy Heavyface Std/GoudyStd-Heavyface.otf')
}

@font-face {
   font-family: "Frutiger LT Std";
   src: url("../fonts/Frutiger LT Std/FrutigerLTStd-Roman.otf");
}

@font-face {
   font-family: "Frutiger LT Std";
   src: url("../fonts/Frutiger LT Std/FrutigerLTStd-Bold.otf");
   font-weight: bold;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/*For use of the isotope grid*/
.grid-item { width: 25%; height: 25vmin; }
.grid-item--width2 { width: 50%; }

html, body {
	font-family: "Frutiger LT Std", "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

h1 {
	font-size: 300%;
}

.goudy {
	font-family: "Goudy Heavyface Std", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.filter-btn-group {
	margin-bottom: 2rem;
}

.flex-bottom-left {
	display: flex;
	align-items: flex-end;
}

.grid div {
/*	border: 1px solid red;*/
	padding-left: 2.5%;
	border: 0.5vmin solid white;
}

.grid div p {
	font-size: 16pt;
	color: hsla(0,0%,10%,0.50);
	
	margin-bottom: -0.25em;
}

.grid div p::first-letter {
	font-size: 5vmax;
	font-weight: bold;
	font-family: "Goudy Heavyface Std", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	letter-spacing: 2pt;
}

.grid div {
	background-image: linear-gradient(hsla(0,0%,100%,.25), hsla(0,0%,100%,.0));
	background-blend-mode: soft-light;
}

.grid div:hover {
	background-image: linear-gradient(hsla(0,0%,100%,0.750), hsla(0,0%,100%,.0));
}

.grid div:nth-child(1) {
	background-color: hsla(300,100%,25%,1.00);
}
.grid div:nth-child(2) {
	background-color: hsla(321,71%,49%,1.00);
}
.grid div:nth-child(3) {
/*	background-image: linear-gradient(to top, #D70370 0%, #0238A8 100%);*/
	background-color: hsla(277,83%,52%,1.00);
}
.grid div:nth-child(4) {
	background-color: hsla(200,74%,70%,1.00);
}
.grid div:nth-child(5) {
	background-color: hsla(138,100%,25%,1.00);
}
.grid div:nth-child(6) {
	background-color: hsla(56,100%,50%,1.00);
}
.grid div:nth-child(7) {
	background-color: hsla(224,100%,52%,1.00);
}
.grid div:nth-child(8) {
	background-color: hsla(291,90%,28%,1.00);
}
.grid div:nth-child(9) {
	background-color: hsla(1,98%,45%,1.00);
}
.grid div:nth-child(10) {
	background-color: hsla(33,100%,50%,1.00);
}
.grid div:nth-child(11) {
	background-color: hsla(56,100%,50%,1.00);
}
.grid div:nth-child(12) {
	background-color: hsla(138,100%,25%,1.00);
}
.grid div:nth-child(13) {
	background-color: hsla(224,100%,52%,1.00);
}
.grid div:nth-child(14) {
	background-color: hsla(291,90%,28%,1.00);
}
.grid div:nth-child(15) {
	background-color: hsla(1,98%,45%,1.00);
}
.grid div:nth-child(16) {
	background-color: hsla(33,100%,50%,1.00);
}
.grid div:nth-child(17) {
	background-color: hsla(56,100%,50%,1.00);
}
.grid div:nth-child(18) {
	background-color: hsla(138,100%,25%,1.00);
}
.grid div:nth-child(19) {
	background-color: hsla(224,100%,52%,1.00);
}

footer {
	margin-top: 2rem;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}