@charset "UTF-8";
/* CSS Document */

@font-face{
    font-family: "Goudy Heavyface Std";
    src: url('../fonts/Goudy Heavyface Std/GoudyStd-Heavyface.otf')
}

@font-face {
   font-family: "Frutiger LT Std";
   src: url("../fonts/Frutiger LT Std/FrutigerLTStd-Roman.otf");
}

@font-face {
   font-family: "Frutiger LT Std";
   src: url("../fonts/Frutiger LT Std/FrutigerLTStd-Bold.otf");
   font-weight: bold;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/*For use of the isotope grid*/
.grid-item { width: 50%; height: 50vmin; }
.grid-item--width2 { width: 100%; }

html, body {
	font-family: "Frutiger LT Std", "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

h1 {
	font-size: 300%;
}

.small {
	font-size: 150%;
	line-height: 1!important;
	color: grey;
}

.goudy {
	font-family: "Goudy Heavyface Std", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.any-btn-group {
	margin-bottom: 2rem;
/*	font-size: 125%;*/
}

.btn {
	font-size: 100%;
}

.flex-bottom-left {
	display: flex;
	align-items: flex-end;
}

.grid div {
/*	border: 1px solid red;*/
	padding-left: 2.5%;
	border: 0.5vmin solid white;
}

.grid div p, .grid div a {
	font-size: 5.25vw;
/*	color: hsla(0,0%,10%,0.50);*/
	color: hsla(0,0%,100%,0.7);
	
	margin-bottom: -0.15em;
	font-family: "Goudy Heavyface Std", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.grid div p::first-letter, .grid div a::first-letter {
	font-size: 160%;
/*	font-weight: bold;*/
/*	font-family: "Goudy Heavyface Std", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";*/
	letter-spacing: 1pt;
	color: hsla(0,0%,100%,0.75);
}

a:hover {
	text-decoration: none;
}

.grid div {
	background-image: linear-gradient(hsla(0,0%,100%,.25), hsla(0,0%,100%,.0));
	background-blend-mode: soft-light;
}

.grid div:hover {
	background-image: linear-gradient(hsla(0,0%,100%,0.750), hsla(0,0%,100%,.0));
}

.grid div:nth-child(1) {
	background-color: hsla(300,100%,25%,1.00);
}
.grid div:nth-child(2) {
	background-color: hsla(321,71%,49%,1.00);
}
.grid div:nth-child(3) {
/*	background-image: linear-gradient(to top, #D70370 0%, #0238A8 100%);*/
	background-color: hsla(277,83%,52%,1.00);
}
.grid div:nth-child(4) {
	background-color: hsla(200,74%,70%,1.00);
}
.grid div:nth-child(5) {
	background-color: hsla(138,100%,25%,1.00);
}
.grid div:nth-child(6) {
	background-color: hsla(56,100%,45%,1.00);
}
.grid div:nth-child(7) {
	background-color: hsla(224,100%,52%,1.00);
}
.grid div:nth-child(8) {
	background-color: hsla(291,90%,28%,1.00);
}
.grid div:nth-child(9) {
	background-color: hsla(1,98%,45%,1.00);
}
.grid div:nth-child(10) {
	background-color: hsla(33,100%,50%,1.00);
}
.grid div:nth-child(11) {
	background-color: hsla(56,100%,45%,1.00);
}
.grid div:nth-child(12) {
	background-color: hsla(138,100%,25%,1.00);
}
.grid div:nth-child(13) {
	background-color: hsla(224,100%,52%,1.00);
}
.grid div:nth-child(14) {
	background-color: hsla(291,90%,28%,1.00);
}
.grid div:nth-child(15) {
	background-color: hsla(1,98%,45%,1.00);
}
.grid div:nth-child(16) {
	background-color: hsla(33,100%,50%,1.00);
}
.grid div:nth-child(17) {
	background-color: hsla(56,100%,45%,1.00);
}
.grid div:nth-child(18) {
	background-color: hsla(138,100%,25%,1.00);
}
.grid div:nth-child(19) {
	background-color: hsla(224,100%,52%,1.00);
}
.grid div:nth-child(20) {
	background-color: hsla(0,0%,75%,1.00);
}

.home-about {
	
}

/*L related links*/
.jumbotron h1 {
	color: white;
	position: relative;
	bottom: -30pt;
}

.jumbotron {
	margin-bottom: 0;
}

.lesbian-bkgd-img {
	background-image: url("../images/abo-ngalonkulu-68397.jpg");
	background-color: #cccccc;
    background-repeat: no-repeat;
/*    background-attachment: fixed;*/
    background-position: 50% 35%;
	background-size: cover;
}

footer {
	margin-top: 2rem;
	color: hsla(0,0%,75%,1.00);
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
	.grid-item { width: 33%; height: 33vmin; }
	.grid-item--width2 { width: 66%; }
	
	.grid div p, .grid div a {
		font-size: 30px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
	.grid-item { width: 25%; height: 25vmin; }
	.grid-item--width2 { width: 50%; }
	
	.grid div p, .grid div a {
		font-size: 28px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
	.grid-item { width: 20%; height: 20vmin; }
	.grid-item--width2 { width: 40%; }
	
	.grid div p, .grid div a {
		font-size: 26px;
		margin-left: -0.5em;
	}
}