@charset "UTF-8";
/* CSS Document */

@font-face{
    font-family: "Goudy Heavyface Std";
    src: url('../fonts/Goudy Heavyface Std/GoudyStd-Heavyface.otf')
}

@font-face {
   font-family: "Frutiger LT Std";
   src: url("../fonts/Frutiger LT Std/FrutigerLTStd-Roman.otf");
}

@font-face {
   font-family: "Frutiger LT Std";
   src: url("../fonts/Frutiger LT Std/FrutigerLTStd-Bold.otf");
   font-weight: bold;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/*For use of the isotope grid*/
.grid-item { width: 50%; height: 50vmin; }
.grid-item--width2 { width: 100%; }

html, body {
	font-family: "Frutiger LT Std", "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin-top: 40px;
}

h1 {
	font-size: 300%;
}

h2 {
	font-weight: bold;
}

.small {
	font-size: 150%;
	line-height: 1!important;
	color: grey;
}

.goudy {
	font-family: "Goudy Heavyface Std", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.background-colour-to-white {
	background-color: white;
}

.glyphicon-link {
	font-size: smaller;
	color: hsla(220,69%,36%,1.00);
}

.any-btn-group {
	margin-bottom: 2rem;
/*	margin-top: .5rem;*/
/*	font-size: 125%;*/
}

.btn {
	font-size: 100%;
	background-color: white;
	border-radius: 0;
	border-color: hsla(0,0%,0%,0.18);
}

.btn-primary {
	color: black;
	font-weight: bold;
	background-color: hsla(0,0%,95%,1.00);
	
}

.btn-primary:hover {
	background-color: grey;
}

.flex-centered-row {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.flex-bottom-left {
	display: flex;
	align-items: flex-end;
}

.grid div {
/*	border: 1px solid red;*/
	padding-left: 2.5%;
	border: 0.5vmin solid white;
}

.grid div p, .grid div a {
	font-size: 5.25vw;
/*	color: hsla(0,0%,10%,0.50);*/
	color: hsla(0,0%,100%,0.65);
	
	margin-bottom: -0.15em;
	font-family: "Goudy Heavyface Std", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.grid div p::first-letter, .grid div a::first-letter {
	font-size: 160%;
/*	font-weight: bold;*/
/*	font-family: "Goudy Heavyface Std", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";*/
	letter-spacing: 1pt;
	color: hsla(0,0%,100%,0.75);
}

a:hover {
	text-decoration: none;
}

.grid div {
	background-image: linear-gradient(hsla(0,0%,100%,.25), hsla(0,0%,100%,.0));
	background-blend-mode: soft-light;
}

.grid div:hover {
	background-image: linear-gradient(hsla(0,0%,100%,0.750), hsla(0,0%,100%,.0));
}

.lesbian-colour {
	background-color: hsla(300,100%,25%,1.00);
}
.gay-colour {
	background-color: hsla(321,71%,49%,1.00);
}
.bisexual-colour {
/*	background-image: linear-gradient(to top, #D70370 0%, #0238A8 100%);*/
	background-color: hsla(277,83%,52%,1.00);
}
.trans-colour {
	background-color: hsla(200,74%,70%,1.00);
}
.queer-colour {
	background-color: hsla(241,55%,39%,1.00);
}
.questioning-colour {
	background-color: hsla(138,100%,25%,1.00);
}
.intersex-colour {
	background-color: hsla(56,100%,45%,1.00);
}
.asexual-colour {
	background-color: hsla(224,100%,52%,1.00);
}
.unsure-colour {
	background-color: hsla(291,90%,28%,1.00);
}
.curius-colour {
	background-color: hsla(1,98%,45%,1.00);
}
.twospirited-colour {
	background-color: hsla(33,100%,50%,1.00);
}
.genderqueer-colour {
	background-color: hsla(56,100%,45%,1.00);
}
.ally-colour {
	background-color: hsla(138,100%,25%,1.00);
}
.hijra-colour {
	background-color: hsla(224,100%,52%,1.00);
}
.pansexual-colour {
	background-color: hsla(291,90%,28%,1.00);
}
.polysexual-colour {
	background-color: hsla(1,98%,45%,1.00);
}
.kathoey-colour {
	background-color: hsla(33,100%,50%,1.00);
}
.unsure-colour {
	background-color: hsla(56,100%,45%,1.00);
}
.other-colour {
	background-color: hsla(138,100%,25%,1.00);
}
.resources-colour, .about-colour {
	background-color: hsla(0,0%,75%,1.00);
}

.home-about {
	line-height: 1;
	padding-bottom: 1rem;
}

a h3, a h4 {
	color: black;
}

a h3:hover, a h4:hover {
	color: hsla(220,69%,36%,1.00);
}

/*L related links*/
.back-to-list {
	margin-right: 2rem;
	color: red;
/*	border: 1px solid red;*/
}

.jumbotron h1 {
	color: white;
	position: relative;
	bottom: -30pt;
}

.jumbotron {
	margin-bottom: 0;
}

.lesbian-bkgd-img {
	background-image: url("../images/abo-ngalonkulu-68397.jpg");
	background-color: #cccccc;
    background-repeat: no-repeat;
/*    background-attachment: fixed;*/
    background-position: 50% 35%;
	background-size: cover;
}

.about-bkgd-img {
	background-image: url("../images/peter-hershey-282615.jpg");
	background-color: #cccccc;
    background-repeat: no-repeat;
/*    background-attachment: fixed;*/
    background-position: 50% 35%;
	background-size: cover;
}

.construction-bkgd-img {
	background-image: url("../images/igor-ovsyannykov-391062.jpg");
	background-color: #cccccc;
    background-repeat: no-repeat;
/*    background-attachment: fixed;*/
    background-position: 50% 62.5%;
	background-size: cover;
}

.resources-bkgd-img {
	background-image: url("../images/tracy-thomas-56810.jpg");
	background-color: #cccccc;
    background-repeat: no-repeat;
/*    background-attachment: fixed;*/
    background-position: 50% 18%;
	background-size: cover;
}

.text-shadow {
	text-shadow: 0 0 15px hsla(0, 0%, 0%, 0.15);
}

footer {
	margin-top: 2rem;
	color: hsla(0,0%, 80%,1.00);
	transition: color .25s ease-in-out;
}

footer:hover {
	color: hsla(0,0%,50%,1.00);
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
	.grid-item { width: 33%; height: 33vmin; }
	.grid-item--width2 { width: 66%; }
	
	.grid div p, .grid div a {
		font-size: 28px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
	.grid-item { width: 25%; height: 25vmin; }
	.grid-item--width2 { width: 50%; }
	
	.grid div p, .grid div a {
		font-size: 26px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
	.grid-item { width: 20%; height: 20vmin; }
	.grid-item--width2 { width: 40%; }
	
	.grid div p, .grid div a {
		font-size: 24px;
		margin-left: -0.5em;
	}
}